$bg-dark: gray;
@mixin margin-zero-padding($top-bottom, $left-right) {
  margin: 0px auto;
  padding: $top-bottom $left-right;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
  margin: 0;
  background: whitesmoke;
}

%margin-padding {
  margin: 0px auto;
  padding: 0;
  width: 100%;
}

.row {
  @extend %margin-padding;
}

.container {
  @extend %margin-padding;
}

.navbar-inverse {
  background: $bg-dark;
  .dropdown-menu {
    padding: 0;
    margin: 8px auto;
    background: darkgray;
    border-radius: 0;
    .dropdown-item {
      color: black;
    }
  }
}

.jumbotron {
  width: 100%;
  margin: 0px auto;
  border-radius: 0;
  background: lightgray;
  color: black;
}

#mycarousel {
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  img {
    width: 100%;
  }
}

.row-content {
  @include margin-zero-padding(10px,0px);
  min-height: 250px;
}

.toys {
  padding: 2rem;
  h2 {
    text-transform: capitalize;
  }
}

footer {
  @include margin-zero-padding(20px, 0px);
  background: $bg-dark;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      color:black;
      padding-right: 8px;
      &:hover {
        text-decoration: none;
        color: red;
      }
    }
  }
}

.frm-hdr {
  margin: 40px 0 0 50px;
}

.many-toys {
  margin: 1.2rem 0 1rem 0; /* 4 2 - для равных всех отступов*/
}

@media screen and (max-width: 576px) {

  .card-toy {
    width: 16rem;
  }
  .form-group {
    padding: 10px 0;
  }
  .frm-hdr {
    margin: 30px 0 0 30px;
  }
}

@media screen and (min-width: 577px) {

  .card-toy {
    width: 27vw;
  }
  .form-group {
    padding: 10px 0;
  }
  .frm-hdr {
    margin: 30px 0 0 30px;
  }
}

@media screen and (min-width: 768px) {

  .card-toy {
    width: 14rem;
  }
}
@media screen and (min-width: 990px) {

  .card-toy {
    width: 18rem;
  }
}

@media screen and (min-width: 1200px) {

  .card-toy {
    width: 30.3vw;
  }
}