/*.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}*/

.many-toys {
    margin: 1.2rem 0 1rem 0; /* 4 2 - для равных всех отступов*/
}
tr, td, th{
    padding: 30px !important; }
.frm-hdr {
    margin: 40px 0 0 50px;

}
.toys {
    padding: 4rem 2rem;
}
.container {
    padding: 0;
    margin: 0;
    width: 100%;
}
.row {
    padding: 0;
    margin: 0;
    width: 100%;
}


li {
    display: inline-block;

}
li a {
    text-decoration: none;
    color:black;
    padding-right: 8px;
}
li a:hover {
    text-decoration: none;
    color: red;
}
.row-content {
  margin: 0px auto;
  padding: 10px 0px;

  min-height: 250px; }

.footer {
  background-color: grey;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {

    width: 100%;
  margin: 0px auto;
    min-height: 200px;

  background: lightgray;
  color: black; }



body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
    margin: 0;
    background: whitesmoke;
}

.navbar-inverse {
  background-color: gray }


.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}
.carousel-item img {
    height: auto;
    width: 100%;
}

.jumbotron {
    border-radius: 0;
    margin: 0;

}





@media screen and (max-width: 576px) {

    .card-toy {
        width: 16rem;
    }
    .form-group {
        padding: 10px 0;
    }
    .frm-hdr {
        margin: 30px 0 0 30px;
    }
   /* .many-toys {
        margin: 4rem 0;
    } */
}
@media screen and (min-width: 577px) {

    .card-toy {
        width: 27vw;
    }
    .form-group {
        padding: 10px 0;
    }
    .frm-hdr {
        margin: 30px 0 0 30px;
    }
}

@media screen and (min-width: 768px) {

    .card-toy {
        width: 14rem;
    }
}
@media screen and (min-width: 990px) {

    .card-toy {
        width: 18rem;
    }
}

@media screen and (min-width: 1200px) {

    .card-toy {
        width: 30.3vw;
    }
}
/* если что - вернуть все на mb-5 и 22rem card 1200 */

.dropdown-menu {
    padding: 0;
    margin: 8px auto;
    background: darkgray;
    border-radius: 0;
}
.dropdown-item {
    color: black;
}
